/* 整體*/
html {
    background: #365152;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #324c4d, #41444e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485670, #355343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 頁腳*/
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
.center{
    text-align: center;
}
.container{
    font-size: 8px;
    text-align: right;
    padding: 10px;

}
h1{
    border-radius: 25px;
    border: 2px solid #8AC007;    
    padding: 20px;    
    text-align: center;
    width: 550px;
    height: 50px;   
    font-size: 30px;
    background-color:rgba(119, 116, 116, 0.808);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .4rem;
}
