<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於我</title>
</head>
<body>    
    <h1>-----經歷-----</h1>      
    <div style="color: rgb(73, 73, 73);background-color:#6edf90 ">  
        <table border="1" cellpadding="10">
            <tr><th>程式語言</th></tr>
            <tr><td>C</td></tr>
                <tr><td>C++</td></tr>
                <tr><td>html</td></tr>
                <tr><td>css</td></tr>
                <tr><td>javascript</td></tr>
        </table>
    
        <span> 同一行</span>
        <span> 同一行</span>

        <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">版权 © xxx.com</div>
    </div>
    <form action="MAILTO:bob325674@.gmail.com" method="post">
        Name:<br>
        <input type="text" name="name" value="yourame"><br>
        E-mail:<br>
        <input type="text" name="mail" value="your email"><br>
        Comment:<br>
        <input type="text" name="comment" value="your comment" size="50"><br><br>
        <input type="submit" value="发送">       
    </form>
    <p><a href = "introduce" title="自我介紹" style="text-decoration:none;color:rgb(100, 4, 189);">自我介紹</a></p>

</body>
</html>