<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>螴蜇の小屋</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
</head>
<body>
  <ul>
    <!-- <li><a class="active" href="/">首頁</a></li> -->
    <li><a href="/project">作品</a></li>
    <li><a href="/contact">聯絡方式</a></li>
    <li><a href="/about">關於我</a></li>
  </ul>     
  <div class="container">
    <marquee style="color: rgb(141, 228, 141);">現在時間：{% include 'weather.html' %}</marquee>
 </div>   
  <h1>自我介紹</h1>
  <p class="center">目前就讀台北科技大學資訊與財金管理系....</p>
  <hr/>
  <h2 class="center">---------------作品集---------------</h2>  
  <p>星のカービィ</p>
  <img style="width: 80px; height: auto;" src="{{ url_for('static', filename='img/kriby.png') }}">
  <p><a href = "https://drive.google.com/file/d/1ggUdjAJYXpyN-DR9VqlXXh5IiCCEEosg/view?usp=sharing" target="_blank" title="google drive" style="text-decoration:none;color:rgb(245, 109, 109);">下載連結</a></p>
  {% if verification == "" %}
  <form method="post">
  <p>請輸入字串:</p>
	<input type="text" name="code">
	<input type="submit" name="send" value="送出">
  </form>
  {% else %}
  <p>驗證碼為:,{{verification}}</p>  
  {% endif %}
  
  <p class="center">------------待更新------------</p>
  <hr/>
  <!-- <p class="center"><a href = "/">首頁</a></p> -->
  <audio style="display:none;" controls autoplay loop>   
    <source src="https://cdn.pixabay.com/download/audio/2022/10/14/audio_9939f792cb.mp3?filename=the-beat-of-nature-122841.mp3" type="audio/mpeg"> 
  </audio>
</body>
</html>
