<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>螴蜇の小屋</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
</head>
<body>
  
  <a href="https://SiteStates.com" title="站長工具">
    <img src="https://SiteStates.com/show/image/33354.jpg" border="0" />
  </a>
  <ul>
    <!-- <li><a class="active" href="/">首頁</a></li> -->
    <li><a href="/project">作品</a></li>
    <li><a href="/contact">聯絡方式</a></li>
    <li><a href="/about">關於我</a></li>
  </ul>     
  <div class="container">
    <marquee style="color: rgb(141, 228, 141);">現在時間：{% include 'weather.html' %}</marquee>
 </div>   
  <h1>自&nbsp;我&nbsp;介&nbsp;紹</h1>
  <p class="center">目前就讀台北科技大學資訊與財金管理系....</p>
  <hr/>
  <h2 class="center">---------------作品集---------------</h2> 
   
  <iframe style="float:right" width="340" height="190" src="https://www.youtube.com/embed/i_Uct7CtNnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p>星のカービィ</p>   
  <p><a href = "https://drive.google.com/file/d/1ggUdjAJYXpyN-DR9VqlXXh5IiCCEEosg/view?usp=sharing" target="_blank" title="google drive" style="text-decoration:none;color:rgb(245, 109, 109);"><img border="0" alt="kribyPictrue" style="width: 80px; height: auto;" src="{{ url_for('static', filename='img/kriby.png') }}"></a></p>
 
  {% if verification == "" %}
  <form method="post">
  <p>請輸入字串:</p>
	<input type="text" name="code">
	<input type="submit" name="send" value="送出">
  <input type="reset" value="點我重新輸入">
  </form>  
  {% else %}
  <p>驗證碼為:{{verification}}</p>  
  {% endif %} 
  <p>您是今天第<b>{{today}}</b>位拜訪該網站的人</p>
  <p>總共<b>{{total}}</b>位拜訪該網站的人</p>

  <p class="center">------------待更新------------</p>
  <hr/>
  <!-- <p class="center"><a href = "/">首頁</a></p> -->
  <audio style="display:auto;float:right" controls autoplay loop>   
    <source src="https://cdn.pixabay.com/download/audio/2022/10/14/audio_9939f792cb.mp3?filename=the-beat-of-nature-122841.mp3" type="audio/mpeg"> 
  </audio>
  <table border="1" cellpadding="10">
    <caption>~~標題~~</caption>
    <tr>
      <th>表頭1</th>
      <th>表頭2</th>
      <th colspan="2">兩格</th>
    </tr>
    <tr>
        <td>Row 1, cell 1</td>
        <td>Row 1, cell 2</td>
        <td>Row 1, cell 3</td>
        <td>Row 1, cell 4</td>
    </tr>
  </table>

  <table border="1" >
    <tr>
      <th>First Name:</th>
      <td>Bill Gates</td>
    </tr>
    <tr>
      <th rowspan="2">Telephone:</th>
      <td>555 77 854</td>
    </tr>
    <tr>
      <td>555 77 855</td>
    </tr>
    </table>
    <div>
      <ol type="1" start="50">
        <li>Coffee</li>
        <br/>
        <li>Tea</li>
        <br/>
        <li>Milk</li>
      </ol>
    </div>
    <br/>
    <div>
      <dl>
        <dt>項目</dt>
        <dd>咖啡</dd>
        <dt>價格</dt>
        <dd>60</dd>
        </dl>
    </div>

    <ul style="list-style-type:square">
      <li>嗨</li>
    </ul>

</body>
</html>
