<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作品</title>
</head>
<body>
    <a id="top">標題</a>
   
    <p><a href = "introduce" title="自我介紹" style="text-decoration:none;color:rgb(100, 4, 189);">自我介紹</a></p>
    <iframe loading="lazy" src="https://blog20221024.herokuapp.com/introduce" name="iframe_a" width="800" height="800"></iframe>
    <p><a href="https://blog20221024.herokuapp.com/contact" target="iframe_a" rel="noopener">聯絡我</a></p>
    <p style="background-color:rgb(255,255,0,.5)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;通过十六进制设置背景颜色&gt;</p>
    <a href="mailto:bob325674@gmail.com">发送e-mail</a>
    <a href="#top">標題</a>
    
    
    
    
</body>
</html>